services:
  moodle:
    image: ghcr.io/projektadler/adler-moodle:main-moodle-4.5
    environment:
      DECLARATIVE_SETUP_INTEGRATION_TEST_MANAGER_PASSWORD: ${_USER_MANAGER_PW}
      DECLARATIVE_SETUP_INTEGRATION_TEST_STUDENT_PASSWORD: ${_USER_STUDENT_PW}
      ADLER_PLAYBOOK_ROLES: "integration_test"

  authoring-tool:
    build:
      context: .
      dockerfile: Dockerfile-authoring-tool
      args:
        VERSION: 2.2.2
    ports:
      - "${_PORT_AUTHORING_TOOL:-8001}:8002"
    extra_hosts:
      - ${_DOMAIN}:host-gateway