name: adler_e2e_tests

services:
  moodle:
    ports:
      - '${_PORT_MOODLE}:8080'
    environment:
      DECLARATIVE_SETUP_INTEGRATION_TEST_MANAGER_PASSWORD: ${_USER_MANAGER_PW}
      DECLARATIVE_SETUP_INTEGRATION_TEST_STUDENT_PASSWORD: ${_USER_STUDENT_PW}
      ADLER_PLAYBOOK_ROLES: "integration_test"

  backend:
    ports:
      - '${_PORT_BACKEND}:80'
    environment:
      ASPNETCORE_ADLER_MOODLEURL: http://${_URL_MOODLE}
      ASPNETCORE_ADLER_ADLERENGINEURL: http://${_URL_3D}

  frontend:
    ports:
      - '${_PORT_3D}:80'
    environment:
      API_URL: "http://${_URL_BACKEND}/api"
      MOODLE_URL: "http://${_URL_MOODLE}"

  authoring-tool:
    build:
      context: .
      dockerfile: Dockerfile-authoring-tool
      args:
        VERSION: 2.3.0
    ports:
      - "${_PORT_AUTHORING_TOOL:-8001}:8002"
    extra_hosts:
      - ${_DOMAIN}:host-gateway