name: Release
on:
  release:
    types: [created]
  workflow_call:


jobs:
  test:
    uses: ./.github/workflows/playwright.yml

  upload-release-files:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Upload docker-compose.yml
        run: |
          curl --fail-with-body -u upload:${{ secrets.PACKAGE_REGISTRY_UPLOAD_PASSWORD }} \
          -T docker-compose.yml \
          "https://packages.projekt-adler.eu/upload/adler_stack/${{ github.ref_name }}.docker-compose.yml"

      - name: Append files to release
        run: |
          cp .env .env.example
          gh release upload ${{ github.ref_name }} .env.example --clobber
          gh release upload ${{ github.ref_name }} docker-compose.yml --clobber
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}


      - name: Checkout AdlerDevelopmentEnvironment repository
        uses: actions/checkout@v4
        with:
          repository: ProjektAdLer/AdlerDevelopmentEnvironment
          path: AdlerDevelopmentEnvironment
          ssh-key: ${{ secrets.ADLER_DEVELOPMENT_ENVIRONMENT_DEPLOY_KEY }}
      - name: Copy docker-compose.yml to AdlerDevelopmentEnvironment
        run: |
          cp docker-compose.yml AdlerDevelopmentEnvironment/non-moodle/docker-compose.yml
      - name: Commit and push changes
        run: |
          cd AdlerDevelopmentEnvironment
          git config user.name "GitHub Actions Bot"
          git config user.email "actions@github.com"
          git add non-moodle/docker-compose.yml
          git commit -m "Update docker-compose.yml from release ${{ github.ref_name }}"
          git push